- if customer.total >= 1
  %table.table.table-striped
    %tr
      %th 功能
      %th 客戶姓名
      %th 會員等級
      / %th ID
    - customer.each_hit_with_result do |hit, u|
      %tr
        %td
          = form_tag cart_load_customer_path, :method => :get, remote: true do
            =hidden_field_tag :load_customer, u.id
            =submit_tag "載入會員"
        %td= u.name
        %td= u.role
        / # %td= u.id





- else
  :javascript
    alert("User Not Found");