%div#total_price

  %table#total_price_table.table{ style: 'display: none;' }
    %tr
      %th Before
      %th After
    %tr
      %td 
        #total_original
      %td 
        #total_discounted
    %tr
      %td 
        #if_user_pay_in_thounsand
      %td 
        #change_in_thounsand
    %tr
      %td 
        #if_user_pay_in_hundred        
      %td 
        #change_in_hundred