// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.customer{
  position: relative;
  padding: 0px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-top:  5px;  
  margin-bottom: 10px;
  background: #F0F0F0;
  border-color: #F0F0F0 transparent;



}
