<footer class="footer">
<small>
    <a href="http://dqa01/wiki/DQA/index.php/Tool_Development_Team">DQA Tool Development Team</a>
    Poc 許維城
</small>
<nav>
<ul>
    <li><%= link_to "About Me",   '#' %></li>
    <li><%= link_to "Contact", 'poc.hsu@vivotek.com' %></li>
</ul>
</nav>
</footer>
